# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
.shelf/
*.zip
BON-2.4.0.14-all.jar
*.gz
logs/
src/main/java/vazkii/
src/main/resources/assets/neutronia/textures/random_things/
src/main/resources/assets/neutronia/textures/items/PixelItem/
src/main/resources/assets/neutronia/textures/items/new_items/
src/main/resources/assets/neutronia/textures/items/new_items_2/
src/main/resources/assets/neutronia/textures/items/armor/

src/main/resources/assets/neutronia/textures/items/potions\.png

src/main/resources/assets/neutronia/textures/tba/
